body {
  padding-left: 0px;
  padding-right: 0px;
  margin: 0;
  font-family: "Open Sans", Sans-serif;
  font-size: 18px;
  line-height: 150%;
  color: #333;
  background: #B7D9F6;
}

.axis {
  font: 14px sans-serif;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

#map,
body,
html {
  height: 100%;
}

* { 
  margin: 0; 
  padding: 0; 
   }
   body { 
   font: 14px/1.4 Georgia, Serif; 
   }
  #page-wrap {
  margin: 50px;
  }
  p {
 margin: 20px 0; 
  }

/* 
Generic Styling, for Desktops/Laptops 
*/
table { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
}
th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
  cursor: s-resize;
  background-repeat: no-repeat;
      background-position: 3% center;
}
td, th { 
  padding: 15px; 
  border: 1px solid #ccc; 
  text-align: left; 

}

th.des:after {
    content: "\21E9";
  }
  
  th.aes:after {
    content: "\21E7";
  }
  
 img{
  padding-left: 0px;
  padding-right: 0px;
 }